<p *ngIf="loaderService.isLoading | async">
  Loading data
</p>

<ul *ngIf="posts">
  <li *ngFor="let post of posts" >{{post.title}}</li>
</ul>

<button (click)="loadComments()">Load Comments</button>

<ul *ngIf="comments">
  <li *ngFor="let comment of comments" >{{comment}}</li>
</ul>

